docs/openLCA.json
[
    {
        "id": "0fb9b33015556b16",
        "type": "tab",
        "label": "OLCA API - parameters",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e8cd76777f99159",
        "type": "inject",
        "z": "0fb9b33015556b16",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "99f7bd762992eb08"
            ]
        ]
    },
    {
        "id": "99f7bd762992eb08",
        "type": "function",
        "z": "0fb9b33015556b16",
        "name": "1. Start calculation",
        "func": "flow.set(\"step\", \"calculate\");\nmsg.url = \"http://localhost:8080\";\n\n// ─── Materialzusammensetzung pro Prozess ───────────────────────────────────\n// Alle Mengenangaben beziehen sich auf den jeweiligen Prozess-Output (1 Stück)\n// Die Skalierung auf 25 Kugelschreiber übernimmt openLCA automatisch.\n\nconst processes = [\n  {\n    name: \"Bolzen\",\n    uuid: \"90291baa-d449-4afc-9d2a-01e8e650afd8\",\n    // Output: 0.001 kg Bolzen\n    // Annahme: hauptsächlich Stahl, kleiner Aluminiumanteil für Kopf\n    params: {\n      Menge_Stahl_Bolzen:      0.00082,  // kg – Stahlschaft\n      Menge_Aluminium_Bolzen:  0.00010,  // kg – Alukopf\n      Energieverbrauch_Bolzen: 0.0035    // MJ – Drehen + Gewindefräsen\n    }\n  },\n  {\n    name: \"Druckfeder\",\n    uuid: \"b3ba806e-e296-4943-8bc7-01858c5ab333\",\n    // Output: 0.001 kg Druckfeder\n    // Annahme: reiner Federstahl, kein Verlust\n    params: {\n      Menge_Stahl_Druckfeder: 0.00095   // kg – Federdraht (5% Verschnitt)\n    }\n  },\n  {\n    name: \"Huelse\",\n    uuid: \"57c37380-e320-4712-b605-48dca9472829\",\n    // Output: 0.001 kg Hülse\n    // Annahme: Alu-Hülse mit Stahlverstärkungsring\n    params: {\n      Menge_Stahl_Huelse:      0.00015,  // kg – Verstärkungsring\n      Menge_Aluminium_Huelse:  0.00075,  // kg – Hauptkörper\n      Energieverbrauch_Huelse: 0.0028    // MJ – Tiefziehen\n    }\n  },\n  {\n    name: \"Mine\",\n    uuid: \"98446bf7-e23a-454a-9e33-67cf55533b8c\",\n    // Output: 0.005 kg Mine\n    // Annahme: Stahlröhrchen + PP-Tinte/Tintenbehälter\n    params: {\n      Menge_Stahl_Mine:        0.00310,  // kg – Stahlröhrchen\n      Menge_Polypropylene_Mine: 0.00160  // kg – PP-Tintenbehälter\n    }\n  },\n  {\n    name: \"Stiftspitze\",\n    uuid: \"5043f2ab-9463-470d-888e-1855c805b042\",\n    // Output: 0.003 kg Stiftspitze\n    // Annahme: PLA-Hauptkörper, ABS-Klemmring, PP-Dichtung\n    params: {\n      Menge_Stiftspitze_PLA:          0.00180,  // kg – Hauptkörper (PLA)\n      Menge_Stiftspitze_ABS:          0.00080,  // kg – Klemmring (ABS)\n      Menge_Stiftspitze_Polypropylene: 0.00025, // kg – Dichtung (PP)\n      Energieverbrauch_Stiftspitze:   0.0045    // MJ – Spritzguss\n    }\n  },\n  {\n    name: \"Schraube M4\",\n    uuid: \"0b5fd7c7-29c7-446b-8ed9-8ed75b5a07ee\",\n    // Output: 0.001 kg Schraube\n    // Annahme: Vollstahl, kein Zusatzmaterial\n    params: {\n      Menge_Stahl_Schraube: 0.00092    // kg – inkl. ~8% Fertigungsverlust\n    }\n  }\n];\n\n// ─── parameterRedefs aufbauen ──────────────────────────────────────────────\nconst parameterRedefs = [];\nfor (const proc of processes) {\n  for (const [paramName, paramValue] of Object.entries(proc.params)) {\n    parameterRedefs.push({\n      \"@type\": \"ParameterRedef\",\n      name: paramName,\n      value: paramValue,\n      context: {\n        \"@type\": \"Process\",\n        \"@id\": proc.uuid\n      }\n    });\n  }\n}\n\nmsg.payload = {\n  jsonrpc: \"2.0\",\n  id: 1,\n  method: \"result/calculate\",\n  params: {\n    \"@type\": \"CalculationSetup\",\n    target: {\n      \"@type\": \"ProductSystem\",\n      \"@id\": \"78d8a79f-218d-4be9-bae4-06bca0ec5c66\"\n    },\n    impactMethod: {\n      \"@type\": \"ImpactMethod\",\n      \"@id\": \"787c02f1-d1f2-36d6-8e06-2307cc3ebebc\"\n    },\n    amount: 25,\n    parameterRedefs: parameterRedefs\n  }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "6c518c2fe0795bd4"
            ]
        ]
    },
    {
        "id": "6c518c2fe0795bd4",
        "type": "http request",
        "z": "0fb9b33015556b16",
        "name": "POST → OpenLCA IPC",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8080",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 720,
        "y": 240,
        "wires": [
            [
                "559ef2ada55ccf4c",
                "eaf174334b1f3a5a"
            ]
        ]
    },
    {
        "id": "559ef2ada55ccf4c",
        "type": "switch",
        "z": "0fb9b33015556b16",
        "name": "Which step?",
        "property": "step",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "calculate",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "check-state",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "get-impacts",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dispose",
                "vt": "str"
            }
        ],
        "repair": false,
        "outputs": 4,
        "x": 930,
        "y": 300,
        "wires": [
            [
                "b3047e0ddd50cbfd"
            ],
            [
                "0eb852d89f33ea07"
            ],
            [
                "110c32a6dd7313c8"
            ],
            [
                "4b174e4b8c7c23f0"
            ]
        ]
    },
    {
        "id": "b3047e0ddd50cbfd",
        "type": "function",
        "z": "0fb9b33015556b16",
        "name": "Store result ID → check state",
        "func": "if (msg.payload.error) {\n  node.error(\"Calculate error: \" + msg.payload.error.message, msg);\n  return null;\n}\n\nconst resultId = msg.payload.result?.[\"@id\"];\nif (!resultId) {\n  node.error(\"No result ID returned: \" + JSON.stringify(msg.payload), msg);\n  return null;\n}\n\nflow.set(\"resultId\", resultId);\nflow.set(\"step\", \"check-state\");\n\nmsg.payload = {\n  jsonrpc: \"2.0\",\n  id: 2,\n  method: \"result/state\",\n  params: { \"@type\": \"Result\", \"@id\": resultId }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 360,
        "wires": [
            [
                "6c518c2fe0795bd4"
            ]
        ]
    },
    {
        "id": "0eb852d89f33ea07",
        "type": "function",
        "z": "0fb9b33015556b16",
        "name": "Ready? → get impacts or wait",
        "func": "if (msg.payload.error) {\n  node.error(\"State error: \" + msg.payload.error.message, msg);\n  return null;\n}\n\nconst state = msg.payload.result;\nconst resultId = flow.get(\"resultId\");\n\nif (state?.isReady === true) {\n  flow.set(\"step\", \"get-impacts\");\n  msg.payload = {\n    jsonrpc: \"2.0\",\n    id: 3,\n    method: \"result/total-impacts\",\n    params: { \"@type\": \"Result\", \"@id\": resultId }\n  };\n  return [msg, null];\n} else {\n  flow.set(\"step\", \"check-state\");\n  msg.payload = {\n    jsonrpc: \"2.0\",\n    id: 2,\n    method: \"result/state\",\n    params: { \"@type\": \"Result\", \"@id\": resultId }\n  };\n  return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 460,
        "wires": [
            [
                "6c518c2fe0795bd4"
            ],
            [
                "9c455e67ba09ba6b"
            ]
        ]
    },
    {
        "id": "9c455e67ba09ba6b",
        "type": "delay",
        "z": "0fb9b33015556b16",
        "name": "Wait 500ms",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "",
        "nbRateUnits": "",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 520,
        "wires": [
            [
                "6c518c2fe0795bd4"
            ]
        ]
    },
    {
        "id": "110c32a6dd7313c8",
        "type": "function",
        "z": "0fb9b33015556b16",
        "name": "Parse PCF → dispose",
        "func": "if (msg.payload.error) {\n  node.error(\"Impacts error: \" + msg.payload.error.message, msg);\n  return null;\n}\n\nconst GWP_CATEGORY_ID = \"0529022f-23cd-36e5-bbba-3aff792d439c\";\nconst impacts = msg.payload.result ?? [];\n\nconst gwp = impacts.find(r =>\n  r.impactCategory?.[\"@id\"] === GWP_CATEGORY_ID\n);\n\nflow.set(\"pcfResult\", {\n  processName:      \"LCA Prozess: Kugelschreiber TRACEpen\",\n  processUUID:      \"78d8a79f-218d-4be9-bae4-06bca0ec5c66\",\n  impactMethod:     \"IPCC 2013 GWP 100a\",\n  targetOutput:     \"25 Stück\",\n  totalPCF_kgCO2eq: gwp ? +gwp.amount.toFixed(6) : null,\n  unit:             \"kg CO2 eq\",\n  allImpacts:       impacts.map(r => ({\n    category: r.impactCategory?.name,\n    value:    r.amount,\n    unit:     r.impactCategory?.refUnit\n  })),\n  calculatedAt: new Date().toISOString()\n});\n\nflow.set(\"step\", \"dispose\");\nmsg.payload = {\n  jsonrpc: \"2.0\",\n  id: 4,\n  method: \"result/dispose\",\n  params: { \"@type\": \"Result\", \"@id\": flow.get(\"resultId\") }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 600,
        "wires": [
            [
                "6c518c2fe0795bd4"
            ]
        ]
    },
    {
        "id": "4b174e4b8c7c23f0",
        "type": "function",
        "z": "0fb9b33015556b16",
        "name": "Output final result",
        "func": "msg.payload = flow.get(\"pcfResult\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 700,
        "wires": [
            [
                "b41966b23c0349ad"
            ]
        ]
    },
    {
        "id": "b41966b23c0349ad",
        "type": "debug",
        "z": "0fb9b33015556b16",
        "name": "PCF Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "eaf174334b1f3a5a",
        "type": "debug",
        "z": "0fb9b33015556b16",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 160,
        "wires": []
    }
]